.progressbar {
  counter-reset: step;
  padding: 0;
  margin: auto;
}
.progressbar li {
  list-style: none;
  display: inline-block;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.progressbar li:first-child:nth-last-child(3),
.progressbar li:first-child:nth-last-child(3) ~ li {
  width: 30.33%;
}
.progressbar li:first-child:nth-last-child(4),
.progressbar li:first-child:nth-last-child(4) ~ li {
  width: 25%;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height : 30px;
  border: 1px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
}
.progressbar li.other:before {
  content: "...";
}

.progressbar li:after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  background-color: #ddd;
  top: 15px;
  left: -35%;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: #3f51b5;
}
.progressbar li.active:before {
  border-color: #3f51b5;
}
.progressbar li.active + li:after {
  background-color: #3f51b5;
}